<!DOCTYPE html>
<html>
    <head>
        <title>inserisci dati</title>
        

    </head>
    <body>
        <form action="/index2" method ='get'>
            <label for="fname">First name:</label><br>
            <input type="text" id="fname" name="fname" placeholder="Inserisci il tuo nome" required><br>
            <label for="lname">Last name:</label><br>
            <input type="text" id="lname" name="lname" placeholder="Inserisci il tuo cognome" required><br><br>
            <input type="submit" value="Submit">
          </form> 
            
    </body>
    </html