<!DOCTYPE html>
<html>
    <head>
        <title>inserisci dati</title>
        
    </head>
    <body>
        <form action="https://codehalweb.com/login-form-animation-css/">
        <h1>Modulo di Iscrizione</h1>
      
        <label for="fNome">Nome</label><br>
        <input type="fnome" placeholder="Inserisci il tuo nome" required><br>
       
        
        <label for="fcognome">Cognome</label><br>
        <input type="fcognome" placeholder="Inserisci il tuo cognome" required><br>
       
        
        <label for="date">Data di nascita</label>
        <input type="date" name="date">
        </form>
        
        <label for="findirizzo">Indirizzo di residenza</label><br>
        <input type="findirizzo" placeholder="Inserisci il tuo indirizzo di residenza" ><br>
        
        <label for="formFile" class="form-label">Inserisci il tuo CV</label>
        <input class="form-control" type="file" id="formFile"><br>
        
        <input type="checkbox"  name="genere" value="M"><label for="genere">M</label>
        <input type="checkbox"  name="genere2" value="F"><label for="genere2">F</label><br>
       
        <label for="istruzione">Livello d'istruzione</label><br>
        <select name="istruzione">
            <option value="elementare">Elementare</option>
            <option value="media">Media</option>
            <option value="superiore">Superiore</option>
            <option value="laurea">Laurea</option>
        </select><br>
        <input type="submit">
        </form>
            
    </body>
    </html>